{
  "extends": ["react-app", "prettier"],
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "import/no-anonymous-default-export": 0,
    "prettier/prettier": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y": 0,
    "react-hooks": 0,
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off"
  },
  "ignorePatterns": [
    "node_modules/",
    "**/node_modules/",
    "/**/node_modules/*",
    "build/**"
  ]
}
